# Using Jupyter notebooks 

## Basics: cell types and data types

$\texttt{Python}$ is a dynamically typed language, which means that the type of an object $(\texttt{integers, floats, strings, tuples, lists, \ldots}$) is inferred in runtime. In contrast, complied languages $\texttt{(C, C++)}$ are statically typed. That means that the type of an object has to be attached to an object before compile time.

The spirit of this session is to demonstrate data types (integer, float, string) and structures (lists, tuples, dictionary, set) in python and their specifics:

### Basic Data types

Integers:

In [1]:
a= 10
type(a)

int

Floats:

In [2]:
b = 10.0
type(b)

float

Strings:

In [3]:
c='Hello'
type(c)

str

In [4]:
print c

Hello

### Basic operations: using the notebook as a calculator

It is important to note that mathematical operations on integer objects return integer objects. Without extra care this can lead to errors. (In the new version of Jupiter this may not be present anymore)

In [5]:
4+5

9

In [6]:
type (4+5)

int

The mathematical operation on integers returns the largest integer that is smaller than the value of the result

In [7]:
type(1/4)

int

In [8]:
3/4

0

Using the data type float leads to the correct result

In [9]:
type(1.0/4.0)

float

In [10]:
1.0/4.0

0.25

In [11]:
from decimal import Decimal

d = Decimal(1)/Decimal(11)

d

Decimal('0.09090909090909090909090909091')

In [12]:
import numpy as np

## Structures ( Lists, Tuples, Dictioneries)

### Tuples and Dictionaries
Tuples are defined by providing objects in parenthesis, or even dropping parenthesis

In [44]:
e1= (1, 1.5, 'data') 
type(e1)

tuple

In [48]:
e2=1,1.5,'data'
type(e2), type(e2[0]), type(e2[1]), type(e2[2])

(tuple, int, float, str)

In [46]:
e3 =[1, 1.5, 'data']
type (e3)

list

In [121]:
dt={'Name': 'Angela Merkel', 'Country': 'Germany', 'Profession': 'Chancellor', 'Age': '60'}
type(dt)

dict

In [120]:
print dt['Name'], dt['Profession']

Angela Merkel Chancellor

### Lists

In [31]:
e=range(10)
print e

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [14]:
type(e)

list

Slices and elements of lists:

In [15]:
e[1:5]

[1, 2, 3, 4]

In [16]:
e[0]

0

Useful fearures of lists: (1) checking if a value is in a list

In [17]:
2 in e

True

In [18]:
14 in e

False

Looping over a list: once for each element of the list it will run the body of code. (Similar to the idea of an iterator or extension of for-loop)

In [28]:
squares=[x**2 for x in e]
print squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

(2) sort lists

In [20]:
f = [4,2,1,6]
print f

[4, 2, 1, 6]

In [21]:
g=sorted(f)
h=sorted (f, reverse=True)
print f, g, h

[4, 2, 1, 6] [1, 2, 4, 6] [6, 4, 2, 1]

For more on lists and tuples please see https://docs.python.org/2/tutorial/datastructures.html#more-on-lists

### Defining functions, some functional programming tools and list comprehension

In [87]:
### A simple example

In [74]:
def f(x):
    return x**2
f(11)

121

In [93]:
def even(x):
    return x % 2==0
even(2), even (3)

(True, False)

In [100]:
map(even, range(10))

[True, False, True, False, True, False, True, False, True, False]

In [101]:
filter(even, range(10))

[0, 2, 4, 6, 8]

In [114]:
def cumsum (i):
    total=0
    for elem in i:
        total += elem
    return total
cumsum(range(10))

45

## Packages and standard libraries

In [85]:
from math import log, exp, sqrt, cos
from scipy.stats import *
import numpy as np

In [122]:
cos(1)

0.5403023058681398

In [96]:
sqrt(2)

1.4142135623730951

This allows us to define more involved functions:

In [123]:
def CallpricesBMS(strike, forward, tte, theta, rho, phi):
    k = log(strike/forward)
    s = sigma_LN(tte, theta, rho, phi, k)
    d1= 1/((s)*sqrt(tte))*(k + 0.5*(s**2)*tte)
    d2=d1-s*sqrt(tte) 
    price = norm.cdf(d1)*forward-norm.cdf(d2)*strike
    return price

Similarly, the Bachelier option pricing formula states: $\ \ \ \ $
$C_{B}(K,\sqrt{w_{B}}) = (S_{0}-K) \ N(z_{K})+\sigma_{N} \ \sqrt{T} \ n(z_{K})$        $\ \ \  \     $    where   $z_{K} = \frac{\ S_{0}-K}{\sigma_{N} \ \sqrt{T}  } $

Using the tools you have try to implement now the Bachelier Option pricing fromula given above.

## Optimisation

A comprehensive list of optimisation tools can be found here https://docs.scipy.org/doc/scipy/reference/optimize.minimize-cobyla.html