# `lapply`

`lapply` returns a list

In [1]:
nyc <- list(pop=8405837,
            boroughs = c("Manhattan", "Bronx", "Brooklyn"),
            capital=FALSE)

In [2]:
for(info in nyc){
    print(class(info))
}

[1] "numeric"
[1] "character"
[1] "logical"

In [3]:
lapply(nyc, class)

$pop
[1] "numeric"

$boroughs
[1] "character"

$capital
[1] "logical"

In [4]:
cities <- c("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")

In [5]:
lapply(cities, nchar)

[[1]]
[1] 8

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 5

[[5]]
[1] 14

[[6]]
[1] 9

## `lapply` on custom functions

In [9]:
a <- list(2.3, 4.5, 3.2, 12.1)

In [16]:
multiply <- function(x, factor=2){
    x*factor
}

In [19]:
unlist(lapply(a, multiply))

[1]  4.6  9.0  6.4 24.2

In [21]:
unlist(lapply(a, multiply, factor=3))

[1]  6.9 13.5  9.6 36.3

In [22]:
?invisible