# `lapply`

`lapply` returns a list

In [1]:
nyc <- list(pop=8405837,
            boroughs = c("Manhattan", "Bronx", "Brooklyn"),
            capital=FALSE)

In [2]:
for(info in nyc){
    print(class(info))
}

[1] "numeric"
[1] "character"
[1] "logical"

In [3]:
lapply(nyc, class)

$pop
[1] "numeric"

$boroughs
[1] "character"

$capital
[1] "logical"

In [4]:
cities <- c("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")

In [5]:
lapply(cities, nchar)

[[1]]
[1] 8

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 5

[[5]]
[1] 14

[[6]]
[1] 9

## `lapply` on custom functions

In [9]:
a <- list(2.3, 4.5, 3.2, 12.1)

In [16]:
multiply <- function(x, factor=2){
    x*factor
}

In [19]:
unlist(lapply(a, multiply))

[1]  4.6  9.0  6.4 24.2

In [21]:
unlist(lapply(a, multiply, factor=3))

[1]  6.9 13.5  9.6 36.3

In [9]:
pioneers <- c("GAUSS:1777", "BAYES:1702", "PASCAL:1623", "PEARSON:1857")
split <- strsplit(pioneers, split = ":")
split_low <- lapply(split, tolower)

In [16]:
split_low

[[1]]
[1] "gauss" "1777"

[[2]]
[1] "bayes" "1702"

[[3]]
[1] "pascal" "1623"

[[4]]
[1] "pearson" "1857"

In [54]:
str(split_low)

List of 4
 $ : chr [1:2] "gauss" "1777"
 $ : chr [1:2] "bayes" "1702"
 $ : chr [1:2] "pascal" "1623"
 $ : chr [1:2] "pearson" "1857"

In [1]:
l <- list(1, "a", TRUE)

In [2]:
str(l)

List of 3
 $ : num 1
 $ : chr "a"
 $ : logi TRUE

In [4]:
l_str_applied <- lapply(l, str)

 num 1
 chr "a"
 logi TRUE

In [56]:
lapply(split_low, function(x) {
  if (nchar(x[1]) > 5) {
    return(NULL)
  } else {
    return(x[2])
  }
})

[[1]]
[1] "1777"

[[2]]
[1] "1702"

[[3]]
NULL

[[4]]
NULL

In [61]:
nchar(split_low[[1]][1])

[1] 5

## `sapply`