# `lapply()`, `sapply()` and `vapply()`

## `lapply()`

- `lapply` returns a list

The vectorized function may return different variable types, therefore list is necessary to store heterogeneous content

In [1]:
nyc <- list(pop=8405837,
            boroughs = c("Manhattan", "Bronx", "Brooklyn"),
            capital=FALSE)

In [2]:
for(info in nyc){
    print(class(info))
}

[1] "numeric"
[1] "character"
[1] "logical"

In [3]:
lapply(nyc, class)

$pop
[1] "numeric"

$boroughs
[1] "character"

$capital
[1] "logical"

In [4]:
cities <- c("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")

In [5]:
lapply(cities, nchar)

[[1]]
[1] 8

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 5

[[5]]
[1] 14

[[6]]
[1] 9

### `lapply` on custom functions

In [9]:
a <- list(2.3, 4.5, 3.2, 12.1)

In [16]:
multiply <- function(x, factor=2){
    x*factor
}

In [19]:
unlist(lapply(a, multiply))

[1]  4.6  9.0  6.4 24.2

In [21]:
unlist(lapply(a, multiply, factor=3))

[1]  6.9 13.5  9.6 36.3

In [9]:
pioneers <- c("GAUSS:1777", "BAYES:1702", "PASCAL:1623", "PEARSON:1857")
split <- strsplit(pioneers, split = ":")
split_low <- lapply(split, tolower)

In [16]:
split_low

[[1]]
[1] "gauss" "1777"

[[2]]
[1] "bayes" "1702"

[[3]]
[1] "pascal" "1623"

[[4]]
[1] "pearson" "1857"

In [54]:
str(split_low)

List of 4
 $ : chr [1:2] "gauss" "1777"
 $ : chr [1:2] "bayes" "1702"
 $ : chr [1:2] "pascal" "1623"
 $ : chr [1:2] "pearson" "1857"

In [1]:
l <- list(1, "a", TRUE)

In [2]:
str(l)

List of 3
 $ : num 1
 $ : chr "a"
 $ : logi TRUE

In [4]:
l_str_applied <- lapply(l, str)

 num 1
 chr "a"
 logi TRUE

In [56]:
lapply(split_low, function(x) {
  if (nchar(x[1]) > 5) {
    return(NULL)
  } else {
    return(x[2])
  }
})

[[1]]
[1] "1777"

[[2]]
[1] "1702"

[[3]]
NULL

[[4]]
NULL

In [61]:
nchar(split_low[[1]][1])

[1] 5

## `sapply`

`sapply` = simplified `apply`

lapply returns a list of the same length as X, each element of which is the result of applying FUN to the corresponding element of X.

sapply is a user-friendly version and wrapper of lapply by default returning a vector, matrix or, if simplify = "array", an array if appropriate, by applying simplify2array(). sapply(x, f, simplify = FALSE, USE.NAMES = FALSE) is the same as lapply(x, f).

In [2]:
?sapply

In [3]:
cities <- c("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")

`lapply` vs `sapply`

In [6]:
l <- lapply(cities, nchar)

In [16]:
v <- sapply(cities, nchar)
v_wo_names <- sapply(cities, nchar, USE.NAMES=FALSE)

In [10]:
class(l)

[1] "list"

In [7]:
l

[[1]]
[1] 8

[[2]]
[1] 5

[[3]]
[1] 6

[[4]]
[1] 5

[[5]]
[1] 14

[[6]]
[1] 9

In [13]:
v_from_l <- unlist(l)

In [17]:
v_wo_names

[1]  8  5  6  5 14  9

In [14]:
class(v)

[1] "integer"

In [15]:
v

      New York          Paris         London          Tokyo Rio de Janeiro
             8              5              6              5             14
     Cape Town
             9

### `sapply()` cannot always "simplify" the list to a vector

If the length of the output of the applied function changes for different input vectors, `sapply()` is not able to nicely convert the output of `lapply()` to a nicely formatted matrix.

Example below

In [20]:
unique_letter <- function(name){
    name <- gsub(" ", "", name)
    letters <- strsplit(name, split="")[[1]]
    unique(letters)
}

In [23]:
res_lapply <- lapply(cities, unique_letter)
res_sapply <- sapply(cities, unique_letter)

In [26]:
res_lapply

[[1]]
[1] "N" "e" "w" "Y" "o" "r" "k"

[[2]]
[1] "P" "a" "r" "i" "s"

[[3]]
[1] "L" "o" "n" "d"

[[4]]
[1] "T" "o" "k" "y"

[[5]]
[1] "R" "i" "o" "d" "e" "J" "a" "n" "r"

[[6]]
[1] "C" "a" "p" "e" "T" "o" "w" "n"

In [24]:
class(res_lapply)

[1] "list"

In [27]:
res_sapply

$`New York`
[1] "N" "e" "w" "Y" "o" "r" "k"

$Paris
[1] "P" "a" "r" "i" "s"

$London
[1] "L" "o" "n" "d"

$Tokyo
[1] "T" "o" "k" "y"

$`Rio de Janeiro`
[1] "R" "i" "o" "d" "e" "J" "a" "n" "r"

$`Cape Town`
[1] "C" "a" "p" "e" "T" "o" "w" "n"

In [25]:
class(res_sapply)

[1] "list"

## `vapply()`

vapply is similar to sapply, but has a pre-specified type of return value, so it can be safer (and sometimes faster) to use.

In [28]:
?vapply

In [30]:
cities <- c("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")

In [34]:
first_and_last <- function(name){
    name <- gsub(" ", "", name)
    letters <- strsplit(name, split="")[[1]]
    return(c(first=min(letters), last=max(letters)))
}

In [31]:
sapply(cities, nchar)

      New York          Paris         London          Tokyo Rio de Janeiro
             8              5              6              5             14
     Cape Town
             9

Specifying the type of the return value with `FUN.VALUE=numeric(1)`

In [33]:
vapply(cities, nchar, FUN.VALUE=numeric(1))

      New York          Paris         London          Tokyo Rio de Janeiro
             8              5              6              5             14
     Cape Town
             9

In [37]:
vapply(cities, first_and_last, FUN.VALUE=character(2))

      New York Paris London Tokyo Rio de Janeiro Cape Town
first e        a     d      k     a              a
last  Y        s     o      y     R              w