# Loops

## while loop

~~~~
while(condition){
    expr
}
~~~~

In [2]:
ctr <- 1
while(ctr <= 7){
    print(paste("ctr is set to", ctr))
    ctr <- ctr + 1
}

[1] "ctr is set to 1"
[1] "ctr is set to 2"
[1] "ctr is set to 3"
[1] "ctr is set to 4"
[1] "ctr is set to 5"
[1] "ctr is set to 6"
[1] "ctr is set to 7"

### `break` statement

In [3]:
ctr <- 1
while(ctr <= 7){
    if(ctr %% 5 ==0){
        break
    }
    print(paste("ctr is set to", ctr))
    ctr <- ctr + 1
}

[1] "ctr is set to 1"
[1] "ctr is set to 2"
[1] "ctr is set to 3"
[1] "ctr is set to 4"

## for loop

~~~~
for(var in seq){
    expr
}
~~~~

Iterate over elements of a collection

In [12]:
cities <- c("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")

In [13]:
cities

[1] "New York"       "Paris"          "London"         "Tokyo"
[5] "Rio de Janeiro" "Cape Town"

In [14]:
typeof(cities)

[1] "character"

In [15]:
class(cities)

[1] "character"

In [6]:
for(city in cities){
    print(city)
}

[1] "New York"
[1] "Paris"
[1] "London"
[1] "Tokyo"
[1] "Rio de Janeiro"
[1] "Cape Town"

Can also iterate over elements of a list

In [7]:
cities_list <- list("New York", "Paris", "London", "Tokyo", "Rio de Janeiro", "Cape Town")

In [17]:
class(cities_list)

[1] "list"

In [16]:
typeof(cities_list)

[1] "list"

In [8]:
for(city in cities_list){
    print(city)
}

[1] "New York"
[1] "Paris"
[1] "London"
[1] "Tokyo"
[1] "Rio de Janeiro"
[1] "Cape Town"

In [18]:
for(city in cities_list){
    if(nchar(city) == 6){
        next
    }
    print(city)
}

[1] "New York"
[1] "Paris"
[1] "Tokyo"
[1] "Rio de Janeiro"
[1] "Cape Town"

In [19]:
for(i in 1:length(cities)){
    print(cities[i])
}

[1] "New York"
[1] "Paris"
[1] "London"
[1] "Tokyo"
[1] "Rio de Janeiro"
[1] "Cape Town"