# Relational operators

- equality op: `==`
- non-equality op: `!=`

In [1]:
TRUE == TRUE

[1] TRUE

In [2]:
TRUE == FALSE

[1] FALSE

In [3]:
"hello" == "goodbye"

[1] FALSE

In [4]:
3 == 2

[1] FALSE

In [5]:
5 == 5

[1] TRUE

In [6]:
"hello" != "goodbye"

[1] TRUE

Comparison:
- `>`
- `<`
- `<=`
- `>=`

In [7]:
3 > 5

[1] FALSE

In [8]:
3 < 5

[1] TRUE

alphabetical:

In [9]:
"hello" > "goodbye"

[1] TRUE

- `TRUE == 1`
- `FALSE == 0`

In [10]:
TRUE < FALSE

[1] FALSE

In [11]:
FALSE < TRUE

[1] TRUE

Relational ops with vectors

In [15]:
a <- c(16, 9, 13, 5, 2, 17, 15)
b <- c(1, 20, 3, 5, 9, 12, 1)

In [14]:
a > 10

[1]  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE

In [16]:
a > b

[1]  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE

In [18]:
m <- matrix(c(a,b), nrow=2, byrow=TRUE)
m

     [,1] [,2] [,3] [,4] [,5] [,6] [,7]
[1,] 16    9   13   5    2    17   15
[2,]  1   20    3   5    9    12    1

In [19]:
m == 20

     [,1]  [,2]  [,3]  [,4]  [,5]  [,6]  [,7]
[1,] FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[2,] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE

# Logical operators

- `&`: AND
- `|`: OR
- `!`: NOT
- `&&`:
- `||`

In [20]:
TRUE & TRUE

[1] TRUE

In [21]:
FALSE & TRUE

[1] FALSE

Is `x` in ]5,10[

In [22]:
x = 4

In [23]:
x > 5 & x < 10

[1] FALSE

In [24]:
!TRUE

[1] FALSE

In [25]:
is.numeric(5)

[1] TRUE

In [26]:
is.numeric('a')

[1] FALSE

Element-wise comparison:

In [27]:
c(TRUE, TRUE, FALSE) & c(TRUE, FALSE, FALSE)

[1]  TRUE FALSE FALSE

`&&` only examines the first element of the vector:

In [28]:
c(TRUE, TRUE, FALSE) && c(TRUE, FALSE, FALSE)

[1] TRUE

In [29]:
c(TRUE, TRUE, FALSE) && c(FALSE, FALSE, FALSE)

[1] FALSE

## Conditional statements

~~~~
if(condition)
{
    expr1
}
else
{
    expr2
}
~~~~

In [1]:
x <- -3

Looks like `else` has to be on the same line as the closing bracket `}` of `if`

In [8]:
if(x < 0)
{
    print("x is a negative number")
}
else
{
    print("x is non-negative.")
}

ERROR: Error in parse(text = x, srcfile = src): <text>:5:1: unexpected 'else'
4: }
5: else
   ^

In [15]:
if(x < 0)
{
    print("x is a negative number")
} else if (x == 0) {
    print("x is zero.")
} else {
    print("x is positive.")
}

[1] "x is a negative number"